.layout {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .layout-box {
        width: 80%;

        @media screen and (max-width:900px) {
            width: 90%;
        }
    }
}